#login_form {
    margin-top: 1em;
}

#login_form th {
    text-align: right;
}

#buttons {
    margin-top: 1em;
    display: flex;
    width: 100%;
}

#buttons a {
    flex: 1;
    margin: 5px;
    background-color: white;
}