#list {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

#list tr {
    text-align: center;
    border-bottom: 1px solid black;
}
#list thead tr:first-child {
    border-bottom: 3px double black;
}
#list thead tr:last-child {
    background-color:rgb(253, 176, 75);
}
#list tbody tr:nth-child(even) {
    background-color:rgb(251, 217, 172);
}

#list td, #list th {
    padding: 0.5em;
    border-left: 1px dotted black;
    word-break: keep-all;
}
#list td:first-child, #list th:first-child,
#list td:last-child {
    border-left: none;
}

a.button {
    text-decoration: none;
    border: none;
    padding: 0;
}
a.button:hover {
    text-decoration: underline;
}

a.button.open:hover {
    color: green;
}
a.button.close:hover {
    color: darkslategray;
}
a.button.print:hover {
    color: darkkhaki;
}
a.button.delete:hover {
    color: darkred;
}

.view {
    text-align: center;
}

.view h1 {
    padding-top: 0.5em;
}

.closed {
    font-style: italic;
}

#modify {
    display: block;
    text-align: right;
    margin-top: 3em;
    font-size: 12px;
    text-decoration: none;
    color: inherit;
}
#modify:hover {
    text-decoration: underline;
}